* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}
nav,
.btn-d-green,
.contact,
.footer {
  background-color: #004600;
}
#landing {
  background-image: url(./images/back.jpeg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.CoreT {
  background-image: url(./images/green.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.LogIcon {
  width: 5rem;
  background-color: white;
}
div[id="references"] a {
  margin: 2rem;
}
#projects {
  background-color: black;
}
.R18 {
  width: 18rem;
}
.outlineC {
  /* border: 1rem solid #005c00; */
  border-width: 1rem;
  border-style: solid;
  border-image: linear-gradient(to bottom left, #1a4314, #228b22) 1;
}
#contact-session {
  background-image: url(./images/Mount.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.toolIcon {
  width: 10rem;
}
#Maps {
  height: 30rem;
  width: 45rem;
  border: 1rem solid #228b22;
}
/* Form num Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Form num Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
